# SPDX-FileCopyrightText: 2023, Collabora, Ltd.
#
# SPDX-License-Identifier: CC0-1.0

.*
!.gitignore
!.travis.yml


# Build products
*.cap

# Auto-downloaded
ant-javacard.jar

# Manually created with downloaded contents
/jckit/
